@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Exo', sans-serif;
}
body
{
	overflow-x: hidden;
	background: #1e133a;
	background-image: url('img/bg.png');
	background-size: cover;
	letter-spacing: 1.4px;
}
section
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 12px 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 14px;
}
.blur_01
{
	position: absolute;
	width: 267px;
	height: 267px;
	left: -53px;
	top: -210px;
	background: #d9aafa;
	filter: blur(350px);
}
header .logo img
{
	position: absolute;
	top: 12px;
	width: 58px;
	border-radius: 50%;
}
header .logo h2
{
	width: 112px;
	font-size: 24px;
	color: #fff;
	margin-left: 80px;
	font-weight: 800;
	letter-spacing: 2px;
	line-height: 30px;
}
header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li
{
	list-style: none;
	display: flex;
	margin: 0 40px;
}
header ul li a
{
	display: inline-block;
}
header ul li a:hover, header .auth .signUp a:hover
{
	border-bottom: 1px solid #888fe8;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(0, 0, 0, 0.2);
}
header .auth
{
	display: flex;
}
header .auth a, header ul li a
{
	color: #f9f8fd;
	text-decoration: none;
	font-weight: 600;
	font-size: 19px;
}
header .auth .signUp
{
	margin-right: 28px;
}
header .auth .signIn a, .action .card h4
{
	position: relative;
	background: linear-gradient(180deg, #372763 0%, #0f0723 100%);
	border-radius: 14px;
	padding: 16px 32px;
}
header .auth .signIn a::before, .action .card h4::before
{
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	border-radius: 14px;
  	border: 1.5px solid transparent;
  	background: linear-gradient(180deg,rgba(180, 112, 255, 1),rgba(255, 54, 143, 1)) border-box;
  	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  	-webkit-mask-composite: destination-out;
  	mask-composite: exclude;
}
header .auth .signIn a:hover
{
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(0, 0, 0, 0.2);
}
.content
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 80px;
}
.content .textBox
{
	position: relative;
	max-width: 600px;
	margin-right: 10px;
}
.content .textBox .inline
{
	margin-top: 32px;
}
.inline
{
	display: flex;
	justify-content: left;
	align-items: center;
}
.content .textBox .inline img
{
	width: 32px;
	margin-right: 12px;
}
.content .textBox .inline p
{
	color: #ebe4fb;
	font-weight: 600;
	font-size: 18.6px;
	margin: 0;
}
.content .textBox .star_title img
{
	position: absolute;
	top: 60px;
	right: -32px;
}
.content .textBox h2
{
	font-size: 60px;
	font-weight: 800;
	line-height: 90px;
	margin-top: 8px;
}
.content .textBox h2, .content .textBox p
{
	color: #f9f8fd;
	letter-spacing: 2px;
	z-index: 1;
}
.textBox .icon-title img
{
	width: 48px;
	margin: 0 8px;
}
.content .textBox p
{
	word-spacing: 2px;
	line-height: 40px;
	margin: 40px 80px 10px 0;
}
.content .textBox p, .plan p
{
	font-size: 19px;
}
.blur_02
{
	position: absolute;
	width: 197px;
	height: 197px;
	left: 367px;
	top: 237px;
	background: #40488e;
	filter: blur(150px);
}
.content .textBox .button
{
	margin-top: 40px;
	display: inline-flex;
	align-items: center;
}
.content .textBox .button a
{
	display: inline-block;
	color: #ebe4fb;
	font-size: 21px;
	font-weight: bold;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
}
.content .textBox .button .mine a
{
	border-radius: 18px;
	background: linear-gradient(176.82deg, #b470ff -17.42%, #ff368f 153.52%);
	padding: 22px 46px;
}
.content .textBox .button .tutorial
{
	display: inline-flex;
	align-items: center;
	margin-left: 40px;
}
.content .textBox .button .tutorial a
{
	font-weight: 500;
	font-size: 19px;
}
.content .textBox .button .tutorial a:nth-child(1)
{
	position: relative;
	background: linear-gradient(180deg, #372763 0%, #0f0723 100%);
	padding: 23px;
	border-radius: 50%;
	margin-right: 12px;
}
.content .textBox .button .tutorial a:nth-child(1)::before
{
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	border-radius: 50%;
  	border: 1.5px solid transparent;
  	background: linear-gradient(180deg,rgba(180, 112, 255, 1),rgba(255, 54, 143, 1)) border-box;
  	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  	-webkit-mask-composite: destination-out;
  	mask-composite: exclude;
}
.content .textBox .button .tutorial img
{
	position: absolute;
	width: 16px;
	height: 16px;
	left: 15.8px;
	top: 14.5px;
}
.content .imgBox
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content .imgBox img
{
	position: absolute;
}
.content .imgBox img:nth-child(1)
{
	top: 0;
	right: 110px;
	width: 370px;
	z-index: 3;
}
.content .imgBox img:nth-child(2)
{
	top: 20px;
	right: 55px;
	width: 400px;
	z-index: 2;
}
.content .imgBox img:nth-child(3)
{
	top: 40px;
	right: 0;
	width: 430px;
	z-index: 1;
}
.blur_03
{
	position: absolute;
	width: 227px;
	height: 227px;
	right: -180px;
	top: 0;
	background: #75408e;
	filter: blur(150px);
}

/* Plan Mining */
.plan
{
	padding: 120px 60px;
	text-align: center;
}
.plan .star-plan img
{
	position: absolute;
	top: 750px;
	left: 510px;
	width: 36px;
	height: 36px;
}
.plan h2, .why .textBox h2
{
	font-weight: 700;
	font-size: 48px;
}
.plan h2, .plan p, .why .textBox h2
{
	color: #f9f8fd;
}
.plan p
{
	padding: 16px 0 32px;
}
.action
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 40px 0;
}
.action .card
{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: left;
	width: 300px;
	border: 1.5px solid rgba(87, 68, 136, 1);
	border-radius: 42px;
	margin: 20px 40px;
	padding: 48px 48px 32px;
	line-height: 40px;
	background: linear-gradient(160.52deg, #1d123a -35.58%, #2a1b54 146.57%);
	text-align: center;
	z-index: 1;
}
.blur_04
{
	position: absolute;
	width: 267px;
	height: 267px;
	top: 1080px;
	left: -60px;
	background: #56408e;
	filter: blur(165px);
}
.action .card .icon
{
	position: absolute;
	width: 66px;
	height: 66px;
	z-index: 1;
	top: -34px;
	left: 116px;
	padding: 16px;
	background: linear-gradient(160.52deg, #1d123a -35.58%, #2a1b54 146.57%);
	border-radius: 50%;
	border: 1.5px solid rgba(87, 68, 136, 1);
}
.action .card h2
{
	font-weight: bold;
	font-size: 30px;
}
.action .card .list
{
	padding: 36px 0;
	text-align: left;
}
.action .card .list img
{
	margin-right: 48px;
	width: 18px;
}
.action .card p
{
	color: #d8caff;
	font-size: 14px;
	padding: 0;
}
.action .card .price
{
	line-height: 16px;
}
.action .card h3
{
	font-size: 24px;
	color: #d8caff;
	margin-bottom: 28px;
}
.action .card a
{
	text-decoration: none;
}
.action .card a h4
{
	margin: 0 auto;
	color: #fff;
	padding: 6px 32px;
	border-radius: 18px;
	width: 150px;
}
.blur_05
{
	position: absolute;
	width: 267px;
	height: 267px;
	top: 865px;
	right: -120px;
	background: #40488e;
	filter: blur(150px);
}
.why
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	padding: 0 60px;
}
.why .imgBox img
{
	width: 520px;
	height: 520px;
}


@media (max-width: 1367px)
{
	header .logo img
	{
		top: 15px;
		width: 54px;
	}
	header .logo h2
	{
		width: 112px;
		font-size: 22px;
		margin-left: 72px;
	}
	header ul li
	{
		margin: 0 36px;
	}
	header .auth a, header ul li a, .content .textBox p, 
	.content .textBox .button .tutorial a, .plan p
	{
		font-size: 16px;
	}
	header .auth .signIn a
	{
		padding: 14px 30px;
	}
	.content .textBox .inline img
	{
		width: 28px;
	}
	.content .textBox .inline p
	{
		font-size: 15.6px;
	}
	.content .textBox .star_title img
	{
		top: 52px;
		right: 20px;
		width: 40px;
		height: 40px;
	}
	.content .textBox h2
	{
		font-size: 56px;
		line-height: 72px;
	}
	.textBox .icon-title img
	{
		width: 42px;
	}
	.content .textBox p
	{
		word-spacing: 1.8px;
		line-height: 32px;
		margin: 30px 80px 10px 0;
	}
	.content .textBox .button
	{
		margin-top: 26px;
	}
	.content .textBox .button a
	{
		font-size: 18px;
	}
	.content .textBox .button .mine a
	{
		padding: 20px 42px;
	}
	.content .textBox .button .tutorial
	{
		margin-left: 36px;
	}
	.content .textBox .button .tutorial a:nth-child(1)
	{
		padding: 20px;
	}
	.content .textBox .button .tutorial img
	{
		width: 14px;
		height: 14px;
		left: 13.6px;
		top: 13px;
	}
	.content .imgBox img:nth-child(1)
	{
		right: 80px;
		width: 290px;
	}
	.content .imgBox img:nth-child(2)
	{
		right: 40px;
		width: 310px;
	}
	.content .imgBox img:nth-child(3)
	{
		right: 0;
		width: 330px;
	}

	/* Plan Mining */
	.plan h2, .why .textBox h2
	{
		font-size: 42px;
	}
}

@media (max-width: 1127px)
{
	section
	{
		padding: 40px;
		letter-spacing: 1.2px;
	}
	header
	{
		padding: 12px 40px;
	}
	header ul li
	{
		margin: 0 32px;
	}
	.content .textBox .star_title img
	{
		top: 56px;
		right: 40px;
		width: 40px;
		height: 40px;
	}
	.content .textBox h2
	{
		font-size: 54px;
	}
	.textBox .icon-title img
	{
		width: 40px;
	}
	.content .textBox p
	{
		word-spacing: 1.8px;
		line-height: 32px;
		margin: 30px 80px 10px 0;
	}

	/* Plan Mining */
	.plan h2, .why .textBox h2
	{
		font-size: 38px;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5)
{
  html,
  body
  {
    width: 100%;
    overflow-x: hidden;
  }
}