@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Exo', sans-serif;
}
body
{
	overflow-x: hidden;
}
section
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #1e133a;
	background-image: url('img/bg.svg');
	background-size: cover;
	letter-spacing: 1.4px;
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 12px 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 14px;
}
.blur_01
{
	position: absolute;
	width: 267px;
	height: 267px;
	left: -53px;
	top: -210px;
	background: #d9aafa;
	filter: blur(350px);
}
header .logo img
{
	position: absolute;
	top: 12px;
	width: 58px;
	border-radius: 50%;
}
header .logo h2
{
	width: 112px;
	font-size: 24px;
	color: #fff;
	margin-left: 80px;
	font-weight: 800;
	letter-spacing: 2px;
	line-height: 30px;
}
header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li
{
	list-style: none;
	display: flex;
	margin: 0 40px;
}
header ul li a
{
	display: inline-block;
}
header ul li a:hover
{
	border-bottom: 1px solid #888fe8;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(0, 0, 0, 0.2);
}
header .auth
{
	display: flex;
}
header .auth a, header ul li a
{
	color: #f9f8fd;
	text-decoration: none;
	font-weight: 600;
	font-size: 19px;
}
header .auth .signUp
{
	margin-right: 28px;
}
header .auth .signIn a
{
	position: relative;
	background: linear-gradient(180deg, #372763 0%, #0f0723 100%);
	border-radius: 14px;
	padding: 16px 32px;
}
header .auth .signIn a::before
{
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	border-radius: 14px;
  	border: 1.5px solid transparent;
  	background: linear-gradient(180deg,rgba(180, 112, 255, 1),rgba(255, 54, 143, 1)) border-box;
  	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  	-webkit-mask-composite: destination-out;
  	mask-composite: exclude;
}
header .auth a:hover
{
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(0, 0, 0, 0.2);
}
.content
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 80px;
}
.content .textBox
{
	position: relative;
	max-width: 600px;
	margin-right: 10px;
}
.content .textBox .inline
{
	margin-top: 32px;
}
.inline
{
	display: flex;
	justify-content: left;
	align-items: center;
}
.content .textBox .inline img
{
	width: 32px;
	margin-right: 12px;
}
.content .textBox .inline p
{
	color: #ebe4fb;
	font-weight: 600;
	font-size: 18.6px;
	margin: 0;
}
.content .textBox .star_title img
{
	position: absolute;
	top: 60px;
	right: -32px;
}
.content .textBox h2
{
	font-size: 60px;
	font-weight: 800;
	line-height: 90px;
	margin-top: 8px;
}
.content .textBox h2, .content .textBox p
{
	color: #f9f8fd;
	letter-spacing: 2px;
}
.textBox .icon-title img
{
	width: 48px;
	margin: 0 8px;
}
.content .textBox p
{
	font-size: 19px;
	word-spacing: 2px;
	line-height: 40px;
	margin: 40px 80px 10px 0;
}
.blur_02
{
	position: absolute;
	width: 197px;
	height: 197px;
	left: 367px;
	top: 237px;
	background: #40488E;
	filter: blur(125px);
}
.content .textBox .button
{
	margin-top: 40px;
	display: inline-flex;
	align-items: center;
}
.content .textBox .button a
{
	display: inline-block;
	color: #ebe4fb;
	font-size: 21px;
	font-weight: bold;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
}
.content .textBox .button .mine a
{
	border-radius: 18px;
	background: linear-gradient(176.82deg, #b470ff -17.42%, #ff368f 153.52%);
	padding: 22px 46px;
}
.content .textBox .button .tutorial
{
	display: inline-flex;
	align-items: center;
	margin-left: 40px;
}
.content .textBox .button .tutorial a
{
	font-weight: 500;
	font-size: 19px;
}
.content .textBox .button .tutorial a:nth-child(1)
{
	position: relative;
	background: linear-gradient(180deg, #372763 0%, #0f0723 100%);
	padding: 23px;
	border-radius: 50%;
	margin-right: 12px;
}
.content .textBox .button .tutorial a:nth-child(1)::before
{
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	border-radius: 50%;
  	border: 1.5px solid transparent;
  	background: linear-gradient(180deg,rgba(180, 112, 255, 1),rgba(255, 54, 143, 1)) border-box;
  	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  	-webkit-mask-composite: destination-out;
  	mask-composite: exclude;
}
.content .textBox .button .tutorial img
{
	position: absolute;
	width: 16px;
	height: 16px;
	left: 16px;
	top: 14.5px;
}
.content .imgBox
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content .imgBox img
{
	position: absolute;
}
.content .imgBox img:nth-child(1)
{
	top: 0;
	right: 110px;
	width: 370px;
	z-index: 3;
}
.content .imgBox img:nth-child(2)
{
	top: 20px;
	right: 55px;
	width: 400px;
	z-index: 2;
}
.content .imgBox img:nth-child(3)
{
	top: 40px;
	right: 0;
	width: 430px;
	z-index: 1;
}
.blur_03
{
	position: absolute;
	width: 227px;
	height: 227px;
	right: -180px;
	top: 0;
	background: #75408E;
	filter: blur(170px);
}

@media (max-width: 1367px)
{
	header .logo img
	{
		top: 15px;
		width: 54px;
	}
	header .logo h2
	{
		width: 112px;
		font-size: 22px;
		margin-left: 72px;
	}
	header ul li
	{
		margin: 0 36px;
	}
	header .auth a, header ul li a, .content .textBox p, .content .textBox .button .tutorial a
	{
		font-size: 16px;
	}
	header .auth .signIn a
	{
		padding: 14px 30px;
	}
	.content .textBox .inline img
	{
		width: 28px;
	}
	.content .textBox .inline p
	{
		font-size: 15.6px;
	}
	.content .textBox .star_title img
	{
		top: 52px;
		right: 20px;
		width: 40px;
		height: 40px;
	}
	.content .textBox h2
	{
		font-size: 56px;
		line-height: 72px;
	}
	.textBox .icon-title img
	{
		width: 42px;
	}
	.content .textBox p
	{
		word-spacing: 1.8px;
		line-height: 32px;
		margin: 30px 80px 10px 0;
	}
	.content .textBox .button
	{
		margin-top: 26px;
	}
	.content .textBox .button a
	{
		font-size: 18px;
	}
	.content .textBox .button .mine a
	{
		padding: 20px 42px;
	}
	.content .textBox .button .tutorial
	{
		margin-left: 36px;
	}
	.content .textBox .button .tutorial a:nth-child(1)
	{
		padding: 20px;
	}
	.content .textBox .button .tutorial img
	{
		width: 15px;
		height: 15px;
		left: 14px;
		top: 12px;
	}
	.content .imgBox img:nth-child(1)
	{
		right: 80px;
		width: 290px;
	}
	.content .imgBox img:nth-child(2)
	{
		right: 40px;
		width: 310px;
	}
	.content .imgBox img:nth-child(3)
	{
		right: 0;
		width: 330px;
	}
}

@media (max-width: 1127px)
{
	section
	{
		padding: 40px;
		letter-spacing: 1.2px;
	}
	header
	{
		padding: 12px 40px;
	}
	.content .textBox .star_title img
	{
		top: 56px;
		right: 40px;
		width: 40px;
		height: 40px;
	}
	.content .textBox h2
	{
		font-size: 54px;
	}
	.textBox .icon-title img
	{
		width: 40px;
	}
	.content .textBox p
	{
		word-spacing: 1.8px;
		line-height: 32px;
		margin: 30px 80px 10px 0;
	}
}