@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: 0.5s;
}
body
{
	font-family: 'Exo', sans-serif;
	overflow-x: hidden;
	background: #1e133a;
	background-image: url('img/bg.png');
	background-size: cover;
	letter-spacing: 1.4px;
}
section
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 12px 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 14px;
}
.blur_01
{
	position: absolute;
	width: 267px;
	height: 267px;
	left: -53px;
	top: -210px;
	background: #d9aafa;
	filter: blur(350px);
	z-index: -1;
}
.logo
{
	display: flex;
}
.logo img
{
	width: 60px;
	object-fit: cover;
	margin-right: 22px;
}
.logo h1
{
	width: 112px;
	font-size: 22px;
	font-family: 'Exo', sans-serif;
	color: #fff;
	font-weight: 800;
	letter-spacing: 2px;
	line-height: 30px;
	font-weight: 800;
}
header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li
{
	list-style: none;
	display: flex;
	margin: 0 40px;
}
header ul li a
{
	display: inline-block;
}
header ul li a:hover,
header .auth .signUp a:hover
{
	border-bottom: 1px solid #888fe8;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(0, 0, 0, 0.2);
	transition: 0.2s;
}
header .auth
{
	display: flex;
}
header .auth a, header ul li a
{
	color: #f9f8fd;
	text-decoration: none;
	font-weight: 600;
	font-size: 19px;
}
header .auth .signUp
{
	margin: 0 28px;
}
header .auth .signIn
{
	transition: unset;
}
header .auth .signIn a, a h4
{
	position: relative;
	background: linear-gradient(180deg, #372763 0%, #0f0723 100%);
	border-radius: 14px;
	padding: 16px 32px;
}
header .auth .signIn a::before,
a h4::before
{
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	border-radius: 14px;
  border: 1.5px solid transparent;
  background: linear-gradient(180deg,rgba(180, 112, 255, 1),rgba(255, 54, 143, 1)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
header .auth .signIn a:hover, a h4:hover,
.content .textBox .button .mine a:hover,
.content .textBox .button .tutorial a:nth-child(1):hover
{
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Sidebar Navigation */
.side-bar
{
	background: #6d4ba6;
	opacity: 0.95;
	width: 280px;
	height: 100vh;
	position: fixed;
	top: 0;
	right: -100%;
	overflow-y: auto;
	transition: 0.6s ease;
	transition-property: right;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(0, 0, 0, 0.2);
	z-index: 10;
}
.side-bar.active
{
	right: 0;
}
.side-bar .menu
{
	width: 100%;
	margin-top: 60px;
}
.side-bar .menu .item
{
	position: relative;
	cursor: pointer;
}
.side-bar .menu .item a 
{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	display: block;
	padding: 4px 28px;
	line-height: 48px;
}
.side-bar .menu .item a:hover
{
	background: #de50c1;
	transition: 0.3s ease;
}
.side-bar .menu .item i 
{
	margin-right: 14px;
}
.side-bar .menu .item a .dropdown
{
	position: absolute;
	right: 0;
	margin: 17px 20px;
	transition: 0.3 ease;
}
.rotate
{
	transform: rotate(90deg);
}
.menu-btn
{
	position: absolute;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	right: 40px;
}
.close-btn
{
	position: absolute;
	color: #fff;
	font-size: 20px;
	right: 0;
	margin: 24px;
	cursor: pointer;
}

/* Banner Content */
.content
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 80px;
}
.content .textBox
{
	position: relative;
	max-width: 600px;
	margin-right: 10px;
}
.content .textBox .inline
{
	margin-top: 32px;
}
.inline
{
	display: flex;
	justify-content: left;
	align-items: center;
}
.content .textBox .inline img
{
	width: 32px;
	margin-right: 12px;
}
.content .textBox .inline p
{
	color: #ebe4fb;
	font-weight: 600;
	font-size: 16px;
	margin: 0;
}
.content .textBox .star_title img
{
	position: absolute;
	top: 60px;
	right: -32px;
}
.content .textBox h1
{
	font-size: 60px;
	font-weight: 800;
	line-height: 90px;
	margin-top: 8px;
}
.content .textBox h1, .content .textBox p,
.why .textBox p, .withdrawal p, .lets_start .textBox p
{
	color: #f9f8fd;
	letter-spacing: 2px;
}
.textBox .icon-title img
{
	width: 48px;
	margin: 0 8px;
}
.content .textBox p
{
	word-spacing: 2px;
	line-height: 40px;
	margin: 40px 80px 10px 0;
}
.blur_02
{
	position: absolute;
	width: 197px;
	height: 197px;
	left: 367px;
	top: 237px;
	background: #40488e;
	filter: blur(150px);
	z-index: -1;
}
.content .textBox .button
{
	margin-top: 40px;
	display: inline-flex;
	align-items: center;
}
.content .textBox .button a
{
	display: inline-block;
	color: #ebe4fb;
	font-size: 21px;
	font-weight: bold;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
}
.content .textBox .button .mine a
{
	border-radius: 18px;
	background: linear-gradient(176.82deg, #b470ff -17.42%, #ff368f 153.52%);
	padding: 22px 46px;
}
.content .textBox .button .tutorial
{
	display: inline-flex;
	align-items: center;
	margin-left: 40px;
}
.content .textBox .button .tutorial a
{
	font-weight: 500;
	font-size: 19px;
}
.content .textBox .button .tutorial a:nth-child(1)
{
	position: relative;
	background: linear-gradient(180deg, #372763 0%, #0f0723 100%);
	padding: 23px;
	border-radius: 50%;
	margin-right: 12px;
}
.content .textBox .button .tutorial a:nth-child(1)::before
{
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	border-radius: 50%;
  border: 1.5px solid transparent;
  background: linear-gradient(180deg,rgba(180, 112, 255, 1),rgba(255, 54, 143, 1)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.content .textBox .button .tutorial img
{
	position: absolute;
	width: 16px;
	height: 16px;
	left: 15.8px;
	top: 14.5px;
}
.content .imgBox
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content .imgBox img
{
	position: absolute;
}
.content .imgBox img:nth-child(1)
{
	top: 0;
	right: 120px;
	width: 370px;
	z-index: 3;
}
.content .imgBox img:nth-child(2)
{
	top: 24px;
	right: 60px;
	width: 400px;
	z-index: 2;
}
.content .imgBox img:nth-child(3)
{
	top: 48px;
	right: 0;
	width: 430px;
	z-index: 1;
}
.blur_03
{
	position: absolute;
	width: 227px;
	height: 227px;
	right: -180px;
	top: 0;
	background: #75408e;
	filter: blur(150px);
	z-index: -1;
}

/* Plan Mining */
.plan, .withdrawal
{
	padding-top: 160px !important;
	text-align: center;
}
.container
{
	position: relative;
	padding: 0 60px 160px;
}
.plan .star_plan
{
	position: relative;
	margin: auto;
	width: 600px;
}
.plan .star_plan img
{
	position: absolute;
	top: -28px;
	left: 120px;
	width: 36px;
	height: 36px;
}
h2
{
	font-weight: 700;
	font-size: 48px;
}
h2, .plan p, .withdrawal .wrap h3
{
	color: #f9f8fd;
}
.plan p, .withdrawal p
{
	padding: 16px 0 32px;
}
.action
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 40px 0;
}
.action .card
{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: left;
	width: 300px;
	border: 1.5px solid rgba(87, 68, 136, 1);
	border-radius: 42px;
	margin: 20px 40px;
	padding: 48px 48px 32px;
	line-height: 40px;
	background: linear-gradient(160.52deg, #1d123a -35.58%, #2a1b54 146.57%);
	text-align: center;
}
.blur_04
{
	position: absolute;
	width: 267px;
	height: 267px;
	top: 400px;
	left: -60px;
	background: #56408e;
	filter: blur(165px);
	z-index: -1;
}
.action .card .icon
{
	position: absolute;
	width: 66px;
	height: 66px;
	z-index: 1;
	top: -34px;
	left: 116px;
	padding: 16px;
	background: linear-gradient(160.52deg, #1d123a -35.58%, #2a1b54 146.57%);
	border-radius: 50%;
	border: 1.5px solid rgba(87, 68, 136, 1);
}
.action .card h2
{
	font-weight: bold;
	font-size: 30px;
}
.action .card .list
{
	padding: 36px 0;
	text-align: left;
}
.action .card .list img
{
	margin-right: 48px;
	width: 18px;
}
.action .card p
{
	color: #d8caff;
	font-size: 14px;
	padding: 0;
}
.action .card .price
{
	line-height: 16px;
}
.action .card h3
{
	font-size: 24px;
	color: #d8caff;
	margin-bottom: 28px;
}
.card a
{
	text-decoration: none;
}
.card a h4
{
	margin: 0 auto;
	color: #fff;
	padding: 6px 32px;
	border-radius: 18px;
	width: 150px;
}
a h4
{
	font-weight: 600;
}
.blur_05
{
	position: absolute;
	width: 267px;
	height: 267px;
	top: 267px;
	right: -120px;
	background: #40488e;
	filter: blur(160px);
	z-index: -1;
}

/* Why Section */
.why
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
}
.blur_06
{
	position: absolute;
	width: 194px;
	height: 194px;
	top: 10px;
	left: 66px;
	background: #936aff;
	filter: blur(200px);
}
.why .imgBox img
{
	width: 520px;
	height: 520px;
}
.blur_07
{
	position: absolute;
	width: 194px;
	height: 194px;
	left: 284px;
	top: 277px;
	background: #f14eff;
	filter: blur(150px);
	z-index: -1;
}
.why .textBox
{
	position: relative;
}
.why .textBox .star_why img
{
	position: absolute;
	width: 36px;
	height: 36px;
	top: -26px;
	left: -40px;
}
.why .textBox p
{
	width: 480px;
	margin: 10px 0 48px;
	word-spacing: 2px;
	line-height: 32px;
}
.blur_08
{
	position: absolute;
	width: 267px;
	height: 267px;
	top: 60px;
	right: -20px;
	background: #40488e;
	filter: blur(180px);
	z-index: -1;
}
.why .textBox .inline
{
	position: relative;
	background: linear-gradient(160.52deg, #1d123a -35.58%, #2a1b54 146.57%);
	border-radius: 32px;
	width: 500px;
	padding: 20px;
	margin-bottom: 28px;
}
.why .textBox .inline::before
{
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	border-radius: 32px;
  border: 1.5px solid transparent;
  background: linear-gradient(153.51deg, #473280 -75.44%, #3A2867 118.22%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.why .textBox .inline .vector
{
	position: relative;
	margin-right: 20px;
	background: linear-gradient(336.28deg, #513791 2.6%, #7a61b8 100.92%);
	border-radius: 22px;
	padding: 15px 16px 12px;
}
.why .textBox .inline .vector img
{
	width: 42px;
	height: 42px;
	z-index: 1;
}
.why .textBox .inline h4
{
	font-size: 22px;
	font-weight: 600;
	color: #e1d4ff;
}
.why .textBox .inline p
{
	margin: 0;
	letter-spacing: 1.2px;
	font-size: 15.6px;
}
.why .textBox .inline p,
.withdrawal .wrap .card .list p
{
	color: #a393c7;
}

/* Withdrawal */
.blur_09
{
	position: absolute;
	width: 267px;
	height: 267px;
	top: 200px;
	left: -80px;
	background: #40488e;
	filter: blur(170px);
	z-index: -1;
}
.withdrawal .wrap
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 40px;
}
.withdrawal .wrap h3
{
	font-size: 28px;
}
.withdrawal .wrap .card
{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 450px;
	border: 1.5px solid rgba(87, 68, 136, 1);
	border-radius: 42px;
	margin: 20px 40px;
	padding-bottom: 28px;
	line-height: 40px;
	background: linear-gradient(160.52deg, #1d123a -35.58%, #2a1b54 146.57%);
	text-align: center;
}
.withdrawal .wrap .card .section
{
	display: flex;
	border-bottom: 1.5px solid rgba(87, 68, 136, 1);
}
.withdrawal .wrap .card .section h4
{
	font-size: 21px;
	font-weight: 600;
	width: 50%;
	padding: 20px 10px 12px;
}
.withdrawal .wrap .card .section h4,
.withdrawal .wrap .card .list h5
{
	color: #e1d4ff;
}
.withdrawal .wrap .card .section h4:nth-child(1)
{
	border-right: 1.5px solid rgba(87, 68, 136, 1);
}
.withdrawal .wrap .card .list
{
	display: flex;
}
.withdrawal .wrap .card .list div
{
	width: 50%;
}
.withdrawal .wrap .card .list div:nth-child(1)
{
	border-right: 1.5px solid rgba(87, 68, 136, 1);
}
.withdrawal .wrap .card .list h5
{
	font-size: 16px;
	font-weight: 400;
	line-height: 10px;
	letter-spacing: 0.8px;
}
.withdrawal .wrap .card .list h5:nth-child(1)
{
	padding: 28px 0 0;
}
.withdrawal .wrap .card .list p
{
	font-size: 13px;
	font-weight: 300;
	padding: 0 10px 12px;
	letter-spacing: 0.6px;
}
.withdrawal .card a h4
{
	width: 150px;
}
.blur_10
{
	position: absolute;
	width: 267px;
	height: 267px;
	top: 520px;
	right: -40px;
	background: #56408e;
	filter: blur(170px);
	z-index: -1;
}

/* Lets Start */
.lets_start
{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-items: center;
	padding-bottom: 160px;
}
.blur_11
{
	position: absolute;
	width: 267px;
	height: 267px;
	top: 40px;
	left: -133px;
	background: #40488e;
	filter: blur(170px);
	z-index: -1;
}
.lets_start .textBox
{
	flex: 1;
}
.lets_start .textBox h3
{
	font-size: 42px;
	color: #fff;
	line-height: 56px;
}
.lets_start .textBox h3,
.lets_start .textBox p
{
	width: 500px;
}
.lets_start .textBox p
{
	letter-spacing: 1.8px;
	line-height: 34px;
	font-weight: 300;
	padding-top: 22px;
}
.lets_start .textBox a
{
	text-decoration: none;
}
.lets_start .textBox a h4
{
	color: #fff;
	width: 166px;
	margin-top: 34px;
	text-align: center;
	padding: 16px 0;
}
.blur_12
{
	position: absolute;
	width: 194px;
	height: 194px;
	top: 0;
	left: 660px;
	background: #936aff;
	filter: blur(170px);
	z-index: -1;
}
.lets_start .imgBox img
{
	width: 360px;
}
.blur_13
{
	position: absolute;
	width: 194px;
	height: 194px;
	top: 200px;
	right: 20px;
	background: rgba(241, 78, 255, 0.69);
	filter: blur(165px);
	z-index: -1;
}
footer
{
	display: grid;
	grid-template-columns: 44% 18% 18% 20%;
	font-family: 'Poppins', sans-serif;
	padding: 60px;
	background: linear-gradient(154.57deg, #40306b 16.98%, #2a1a54 177.06%);
	letter-spacing: 0.8px;
}
footer .column
{
	display: flex;
	flex-direction: column;
}
footer .column p
{
	font-size: 16px;
	color: #aea7be;
	margin-top: 20px;
}
footer .column.mining p
{
	font-size: 17px;
	line-height: 30px;
}
footer .column h3
{
	color: #faf9fc;
	font-size: 24px;
	font-weight: 600;
}
footer .column .sosial_media
{
	display: flex;
}
footer .column .sosial_media img
{
	height: 22px;
	margin: 20px 36px 0 0;
}

@media (max-width: 1367px)
{
	header ul li
	{
		margin: 0 36px;
	}
	header .auth a, header ul li a, .content .textBox p, 
	.content .textBox .button .tutorial a, .plan p, .why .textBox p
	{
		font-size: 16px;
	}
	header .auth .signIn a
	{
		padding: 14px 30px;
	}
	.content .textBox .inline img
	{
		width: 28px;
	}
	.content .textBox .inline p
	{
		font-size: 15.6px;
	}
	.content .textBox .star_title img
	{
		top: 52px;
		right: 20px;
		width: 40px;
		height: 40px;
	}
	.content .textBox h1
	{
		font-size: 56px;
		line-height: 72px;
	}
	.textBox .icon-title img
	{
		width: 42px;
	}
	.content .textBox p
	{
		word-spacing: 1.8px;
		line-height: 32px;
		margin: 30px 80px 10px 0;
	}
	.content .textBox .button
	{
		margin-top: 26px;
	}
	.content .textBox .button a
	{
		font-size: 18px;
	}
	.content .textBox .button .mine a
	{
		padding: 20px 42px;
	}
	.content .textBox .button .tutorial
	{
		margin-left: 36px;
	}
	.content .textBox .button .tutorial a:nth-child(1)
	{
		padding: 20px;
	}
	.content .textBox .button .tutorial img
	{
		width: 14px;
		height: 14px;
		left: 13.6px;
		top: 13px;
	}
	.content .imgBox img:nth-child(1)
	{
		right: 80px;
		width: 290px;
	}
	.content .imgBox img:nth-child(2)
	{
		right: 40px;
		width: 310px;
	}
	.content .imgBox img:nth-child(3)
	{
		right: 0;
		width: 330px;
	}
	h2
	{
		font-size: 42px;
	}
}

@media (max-width: 1160px)
{
	.why
	{
		grid-template-columns: 1fr;
	}
	.why .imgBox
	{
		margin: 0 auto;
	}
	.why .textBox
	{
		margin: 0 auto;
		text-align: center;
	}
	.why .textBox .inline .text
	{
		text-align: left;
	}
}

@media (max-width: 1127px)
{
	section, .container
	{
		padding: 40px;
		letter-spacing: 1.2px;
	}
	header
	{
		padding: 12px 40px;
	}
	header ul li
	{
		margin: 0 32px;
	}
	.content .textBox .star_title img
	{
		top: 56px;
		right: 40px;
		width: 40px;
		height: 40px;
	}
	.content .textBox h1
	{
		font-size: 54px;
	}
	.textBox .icon-title img
	{
		width: 40px;
	}
	.content .textBox p
	{
		word-spacing: 1.8px;
		line-height: 32px;
		margin: 30px 80px 10px 0;
	}
	h2
	{
		font-size: 38px;
	}
	footer
	{
		padding: 60px 40px;
	}
}

@media (max-width: 1047px)
{
	.content .imgBox img:nth-child(1)
	{
		top: 0;
		right: 40px;
	}
	.content .imgBox img:nth-child(2)
	{
		top: 24px;
		right: 0px;
	}
	.content .imgBox img:nth-child(3)
	{
		display: none;
	}
	footer
	{
		grid-template-columns: 48% auto auto;
		grid-gap: 48px;
	}
}

@media (min-width: 1022px)
{
	.menu-btn, .side-bar
	{
		display: none;
	}
}

@media (max-width: 1021px)
{
	.navigation
	{
		display: none;
	}
	.signIn
	{
		margin-right: 40px;
	}
}

@media (max-width: 1007px)
{
	.content .imgBox img:nth-child(1)
	{
		right: 0;
	}
	.content .imgBox img:nth-child(2)
	{
		display: none;
	}
}

@media (max-width: 967px)
{
	.content .imgBox img:nth-child(1)
	{
		top: 20px;
		width: 260px;
	}
}

@media (max-width: 940px)
{
	.lets_start .textBox
	{
		flex: unset; 
		text-align: center;
	}
	.lets_start .textBox a h4
	{
		margin: 34px auto 0;
	}
}

@media (max-width: 927px)
{
	.content .imgBox img:nth-child(1)
	{
		top: 40px;
		width: 220px;
	}
}

@media (max-width: 887px)
{
	.content .imgBox img:nth-child(1)
	{
		display: none;
	}
}

@media (max-width: 771px)
{
	footer
	{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 567px)
{
	footer
	{
		grid-template-columns: 1fr;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5)
{
  html,
  body
  {
    width: 100%;
    overflow-x: hidden;
  }
}